language: python

# Setting sudo to false opts in to Travis-CI container-based builds.
sudo: false

python:
  - 2.7
  - 3.5
  - 3.6

env:
  global:
    - TEST_DIR=/tmp/nfft-test
    - REQUIREMENTS="numpy scipy pytest coverage codecov pytest-cov"

before_install:
  - pip install $REQUIREMENTS

install:
  - python setup.py install

script:
  - mkdir -p $TEST_DIR
  - cd $TEST_DIR && python -m pytest --pyargs nfft --cov=nfft
